.classificationPicker {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  padding: 4rem 3rem 0 3rem;
}

.option {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  cursor: pointer;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
}

.circle {
  aspect-ratio: 1 / 1;
  width: 2.5rem;
  height: 2.5rem;

  border: 1px solid var(--ikonki-itelma);
  border-radius: 50%;

  &:active {
    transform: scale(0.9);
  }
}

.active .circle {
  background-color: var(--sistemnyy-siniy);
}

.labelText {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--chernyy-);
}