* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .2s ease;
  position: relative;
  font-family: var(--font-family), sans-serif;
}

:root {
  --color-3: #e0d49c;
  --color-4: #ff9033;
  --color-5: #1e1e1e;
  --color-6: #339372;
  --color-7: #547cef;
  --color-8: #ac2a11;
  --color-9: #b1a3f6;
  --color-10: #a8cfe0;
  --color-11: #f1bc3e;
}

:root {
  --body-padding-inline: 1.25rem;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../../shared/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monomakh Unicode';
  src: url('../../shared/assets/fonts/MonomakhUnicode.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lithium Typeface (LT)';
  src: url('../../shared/assets/fonts/Lithium_tf.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --second-family: "Monomakh Unicode", sans-serif;
  --third-family: "Lithium Typeface (LT)", sans-serif;
  --font3: "Playfair Display", sans-serif;
}

html, body {
  height: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
}

button {
  background: transparent;

  &:active {
    transform: scale(0.95);
  }
}