.dashboard {
  display: flex;

  background: #fff;

}

.dashboard__graphs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;

  width: 100%;

  border: 1px solid #448cff;
  padding-bottom: 1rem;
}
