.panel {
  display: grid;

  height: 100%;

  background: var(--belyy-);

  &.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  &.row {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.panel .panel__noData {
  font-size: 1.5rem;
  white-space: nowrap;
}

.panel > div {
  border: 1px solid var(--obvodka-blokov);
}

.panel__twoColumns {
  grid-column: 1 / -1;
  align-items: center;
}

.panel.row .panel__twoColumns {
  grid-column: auto;
}

.panel__doubleDataInColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

