.statusPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
  min-height: 0;
}

.dashboardWithLogs {
  display: grid;
  grid-template-columns: 1fr 5fr;

  height: 100%;
  min-height: 0;
}