.settings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  font-family: var(--third-family);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--chernyy-);
}

.settings__wrapper {
  height: 100%;
  padding: 1.625rem;
}

.settings__section {
  padding: 3rem 3rem 2.25rem;
}

.soundManager__container {
  padding-inline: 0;
}

.settings__sectionLabel {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0.5rem 1.25rem;
  background: var(--sistemnyy-siniy);

  font-family: var(--third-family);
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--belyy-);
}
