.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 1.875rem;
  background: #0097df;

  margin-bottom: 1.5rem;

  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
  }
}