.container {
  overflow-x: auto;
  overflow-y: hidden;

  overscroll-behavior-x: contain;
}

.container svg {
  overflow: hidden;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  height: 100%;
}
