:root {
  --indicator-border-width: 0.875rem;
  --indicator-wrapper-padding: 0.75rem;
}

.indicatorWrapper {
  width: 100vw;
  height: 100vh;

  padding: var(--indicator-wrapper-padding);
  border: var(--indicator-border-width) solid var(--indicator-color);
  background: rgba(var(--indicator-color-rgb), .2);
}