.historyTable__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  overflow: hidden;
}

.tableWrapper {
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

.table th {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  color: #000;
}

.table :is(td, th) {
  padding: 1rem 0.875rem;
  text-align: center;
}

.table tbody tr {
  border: 1px solid #448cff;
}

.status {
  padding: 0.625rem;
  border-radius: 0.75rem;
}

td:has(.status) {
  text-align: start;
}

.selectButton {
  img {
    max-height: 2rem;
  }
}

.selected {
  background: #ddf4ff;
}